// Colors
$colors: (
    field: (
        background: #ffffff,
        border: #cccccc
    )
);

// Metrics
$input-field-padding: 10px 15px;
$multiline-min-height: 80px;

// Decorative
$border-radius: 2px;

// Typography 
$base-font-family: sans-serif;
$base-font-size: 16px;
$input-field-font-size: 1rem;