// Pull config 
@import "config";

// Mixins
@import "mixins/namespace";

// Functions
@import "functions";

// Helpers
@import "helpers";

// Resets 
@import "reset";

// Components
@import "components/c-button";
@import "components/c-check-field";
@import "components/c-input-field";
@import "components/c-label";
@import "components/c-select-field";

// Layouts
@import "layouts/l-form";

// Shared styles
@include namespace(true) {

    // Override border color for errors
    .is-error {
        &,
        [class*="menu"],
        [class*="check"] {
            border-color: color(state, error);
            
            // Remove default focus and replace with a heavy shadow if invalid
            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px color(state, error);
            }
        }
    }
}