/*------------------------------------*\
    TEXT FIELD COMPONENT

    All text based form field elements
\*------------------------------------*/
.c-text-field {

    @include namespace() {

        @extend %c-field-shared-inputs;

        &--multiline {
            vertical-align: top;
            overflow: auto;

            &:not([rows]) {
                min-height: $multiline-min-height;
            }
        }
    }
}