<div class="[ c-check-field ] [ is-error ]">
    <input type="checkbox" name="checkbox-field" id="checkbox-field" class="c-check-field__input" />
    <label for="checkbox-field" class="c-check-field__decor" aria-hidden="true" role="presentation"></label>
    <label for="checkbox-field" class="c-check-field__label">A checkbox field</label>
</div>
<div class="[ c-check-field c-check-field--radio ] [ is-error ]">
    <input type="radio" name="checkbox-field" id="checkbox-radio-field-1" class="c-check-field__input" />
    <label for="checkbox-radio-field-1" class="c-check-field__decor" aria-hidden="true" role="presentation"></label>
    <label for="checkbox-radio-field-1" class="c-check-field__label">A radio button</label>
</div>